<!DOCTYPE html>
<html>

<head>
  <title>UI</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>UI</h1>
  <p>Welcome to UI</p>
  <script src='/socket/socket.io.js'></script>
  <script>
    document.addEventListener('DOMContentLoaded', e => {

      const codeUnique = (code = '') => (code.length <= 4) ? codeUnique(code + `${Math.floor(Math.random() * 10)}`) : code

      const socketQuery = { username: 'user-' + codeUnique(), userID: 12346 }
      const socket = io.connect('http://localhost:5000?token=' + JSON.stringify({ username: localStorage.getItem('username') }), {
        withCredentials: true, transports: ['websocket'], path: '/general'
      })

      socket.emit('IS_ONLINE_CSS', { username: 'test' })
      socket.on('IS_ONLINE_SSC', data => { console.log(data) })
      socket.on('UPDATE_LIST_USER_ONLINE_SSC', ({ onlineUsers }) => {

        if (onlineUsers.length >= 2) {
          const socketData = { username: onlineUsers.find(e => e.username != localStorage.getItem('username'))?.username, message: 'Minh Tuyền' }
          console.log({ messaging: socketData })
          socket.emit('SEND_MESSAGE_CSS', socketData)
        }
      })

      socket.on('SEND_MESSAGE_SSC', data => console.log(data))
      // const xhr = new XMLHttpRequest()

      // xhr.onload = (e) => {
      //   console.log(JSON.parse(e.target.responseText))
      // }

      // xhr.open('GET', 'http://localhost:3000/data')
      // xhr.send()
    })
  </script>
</body>

</html>